.button {
  display: flex;
  justify-content: center;
  align-items: center;

  &-transparent {
    border: 0;
    background-color: transparent;
  }

  &-onlyBorder {
    border: var(--border);
    background-color: transparent;
  }

  &-black {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &__label {
    font-size: 11px;
    line-height: 15px;
  }
}