:root {
  --color-white: #fff;

  --color-black: #000;
  --color-black-middle: #333;

  --color-gray: #4f4f4f;
  --color-gray-middle: #828282;
  --color-gray-light: #BDBDBD;

  --color-creamy: #F9F1DC;

  --border: 1px solid var(--color-black);

  --main-font-family: "Helvetica", sans-serif;
  --inter-font-family: "Inter", sans-serif;
  --blackerSansPro-font-family: "BlackerSansPro", sans-serif;

  --container-width: 1440px;
  --container-padding-x: 17px;

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}